!!! 5
html
  head
    title Game Table
  body
    if process.env.NODE_ENV == 'production'
      !=asset({type: 'script', src: '/javascript/application.min.js'})
    else
      !=asset({type: 'script', src: '/javascript/application.js'})
